<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
    <style>
        .card {
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .card-body {
            text-align: left;
        }
        .card-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        .card-text {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
        }
    </style>
    <body>
        <%- include("./partials/nav.ejs") %>

        <div class="container mt-5">
            <% if (galaxy && galaxy.length > 0) { %> <% galaxy.map((item) => { %>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= item.Name %></h5>
                    <p class="card-text"><strong>Type:</strong> <%= item.Type %></p>
                    <p class="card-text"><strong>Age:</strong> <%= item.Age %></p>
                    <p class="card-text"><strong>Distance from Earth:</strong> <%= item.Distance %></p>
                    <p class="card-text"><strong>Constellation:</strong> <%= item.Constellation %></p>
                    <p class="card-text"><%= item.Description %></p>
                </div>
            </div>

            <% }) %> <% } %>
        </div>

        <%- include("./partials/cdn.ejs") %>
    </body>
</html>
